.product-list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
}

.product-container {
  background-color: #eceff1;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 8px;
}

.modal-container {
  padding: 20px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 30%;
  color: black;
  background-color: #eceff1;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.cart-container{
  display: flex;
  justify-content: space-between;
}

.checkout {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid black;
}

.product-container-cart {
  background-color: #eceff1;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 8px;
  margin: 10px 0px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

